:root {
    --button-width: 15rem;
    --button-max-width: 30rem;
    --button-min-height: 5rem;
    --button-max-height: 15rem;
}

#heroManagerButton {
    background-color: transparent;
    border: none;
    background-image: url('./assets/draftsvgs/button_hero-manager.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: var(--button-width);
    max-width: var(--max-button-width);
    min-height: var(--button-min-height);
    max-height: var(--button-max-height);
}

#heroManagerButton:hover {
    background-image: url('./assets/draftsvgs/button_hero-manager-hover.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: var(--button-width);
    max-width: var(--max-button-width);
    min-height: var(--button-min-height);
    max-height: var(--button-max-height);
}

#monsterManagerButton {
    background-color: transparent;
    border: none;
    background-image: url('./assets/draftsvgs/button_monster-manager.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: var(--button-width);
    max-width: var(--max-button-width);
    min-height: var(--button-min-height);
    max-height: var(--button-max-height);
}

#monsterManagerButton:hover {
    background-image: url('./assets/draftsvgs/button_monster-manager-hover.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: var(--button-width);
    max-width: var(--max-button-width);
    min-height: var(--button-min-height);
    max-height: var(--button-max-height);
}

.twentyFour {
    background-color: transparent;
    border: none;
    background-image: url('./assets/draftsvgs/button_2024-on.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: var(--button-width);
    max-width: var(--max-button-width) !important;
    min-height: var(--button-min-height);
    max-height: var(--button-max-height) !important;
}

.fourteen {
    background-color: transparent;
    border: none;
    background-image: url('./assets/draftsvgs/button_2014-on.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: var(--button-width);
    max-width: var(--max-button-width) !important;
    min-height: var(--button-min-height);
    max-height: var(--button-max-height) !important;
}

/* .twentyFour:hover {
    background-image: url('../draftsvgs/button_2024-hover.svg');
}

.fourteen:hover {
    background-image: url('../draftsvgs/button_2014-hover.svg');
} */



